.mapbox-logo,
.leaflet-control-attribution {
    display: none;
}

body {
    font-family: 'Alegreya Sans', sans-serif;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

a {
    color: #003580;
    font-weight: bold;
}

a:hover {
    opacity: .75;
}

.dunes {
    position: absolute;
    background-image: url('../images/dark-desert.jpg');
    height: 110px;
    color: #fff;
    width: 100%;
}

td {
    text-align: left;
    vertical-align: middle;
}

.flag {
    width: 72px;
    padding-left: 11px;
}

.nam-flag {
    border-radius: 3px;
    border: 2px solid #fff;
    height: 37px;
    margin-top: 8px;
}

.sa-flag {
    border-radius: 3px;
    border: 2px solid #fff;
    height: 37px;
    margin-bottom: 5px;
}

.hk {
    font-style: italic;
    font-weight: 500;
    padding-left: 4px;
    font-size: 28px;
    padding-top: 8px;
}

.swa {
    padding-left: 4px;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 1px;
}

#map {
    position: absolute;
    top: 114px;
    bottom: 0;
    width: 100%;
    z-index: 600;
}

.map-btn {
    background-color: #003580;
    position: absolute;
    left: 10px;
    top: 130px;
    width: 33%;
    z-index: 1000;
}

.map-span-large {}

.map-span-small {}

.icon:hover {
    opacity: .7;
}

/* INTRO */

.intro {
    position: absolute;
    z-index: 1000;
    left: 10px;
    top: 130px;
    width: 33%;
    max-height: 60%;
    overflow: auto;
}

.intro-img {
    border-radius: 4px;
    margin: 16px 0 6px 0;
}

/* TOOLTIP */

.leaflet-tooltip {
    font-family: 'Alegreya Sans', sans-serif;
    border-radius: 4px;
}

.leaflet-tooltip-container {
    display: none;
}

.tooltip-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 4px;
}

.tooltip-sub {
    font-size: 16px;
    padding-bottom: 4px;
}

/* SITE MEDIA DIVS */

.site-media {
    display: none;
}


/* INFO MODALS */

.info-modal {
    font-family: 'Alegreya Sans', sans-serif;
    position: absolute;
    top: 176px;
    left: 10px;
    width: 33%;
    max-height: 55%;
    overflow: auto;
    z-index: 1000;
}

.site-title {
    font-size: 38px;
    font-weight: bold;
    line-height: 38px;
    padding: 7px 0;
}

.site-subtitle {
    font-size: 22px;
    padding: 7px 0;
}

.site-body {
    padding: 10px 0 7px 0;
}

/* GALLERIAS */

.galleria {
    position: absolute;
    z-index: 1000;
    margin-left: 35%;
    margin-right: auto;
    top: 130px;
    width: 64%;
    height: 75%;
    /*display: none;*/
}

.galleria-container {
    background-color: #fff;
    border-radius: 4px;
}

body .galleria-lightbox-shadow {
    background-color: #fff;
}

.galleria-theme-classic .galleria-thumbnails .galleria-image {
    border: 1px solid #fff;
}

.galleria-theme-classic {
    font-family: 'Alegreya Sans', sans-serif;
}

.galleria-theme-classic .galleria-info {
    width: auto;
}

.galleria-theme-classic .galleria-info-link {
    background-color: #003580;
    border-radius: 4px;
}

.galleria-theme-classic .galleria-info-text {
    background-color: #003580;
    border-radius: 4px;
    margin: 0;
    padding: 8px 23px 1px 20px;
    width: auto;
    text-align: left;
}

.galleria-theme-classic .galleria-info-description {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
}

.galleria-theme-classic .galleria-info-title {
    background-color: #003580;
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    width: auto;
    text-align: left;
}

.galleria-theme-classic .galleria-counter {
    font-family: 'Alegreya Sans', sans-serif;
}

@media screen and (max-width: 700px) {
    .swa {
        font-size: 42px;
    }
}

@media screen and (max-width: 600px) {
    .swa {
        font-size: 35px;
    }
}

@media screen and (max-width: 1025px) {
    .galleria {
        margin-left: 60px;
        width: 88%;
        height: 50%;
    }

    .map-span-large {
        display: none;
    }

    .map-btn {
        left: 11px;
        top: auto;
        bottom: 80px;
        width: 32px;
        height: 32px;
        font-size: 12px;
        padding: 0;
    }

    .info-modal {
        top: 70%;
        width: 88%;
        left: 60px;
        max-height: 220px;
    }

    .intro {
        width: 55%;
    }
}
