#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.countdown {
    text-align: center;
    font-size: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1000;
}
