body {
    font-family: 'Alegreya Sans', sans-serif;
}

.dunes {
    position: absolute;
    background-image: url('../images/dark-desert.jpg');
    height: 110px;
    color: #fff;
    width: 100%;
}

td {
    text-align: left;
    vertical-align: middle;
}

.flag {
    width: 72px;
    padding-left: 11px;
}

.nam-flag {
    border-radius: 3px;
    border: 2px solid #fff;
    height: 37px;
    margin-top: 8px;
}

.sa-flag {
    border-radius: 3px;
    border: 2px solid #fff;
    height: 37px;
    margin-bottom: 5px;
}

.hk {
    font-style: italic;
    font-weight: 500;
    padding-left: 4px;
    font-size: 28px;
    padding-top: 8px;
}

.swa {
    padding-left: 4px;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 1px;
}

#map {
    position: absolute;
    top: 114px;
    bottom: 0;
    width: 100%;
    z-index: 600;
}

#slider {
    position: absolute;
    background-color: #fbf9f3;
    bottom: 1px;
    left: 1px;
    z-index: 800;
}

#day-legend {
    font-family: 'Alegreya Sans', sans-serif;
    position: absolute;
    bottom: 50px;
    left: 1px;
    width: 300px;
    z-index: 1000;
}

.current-day {
    color: yellow;
}

/* GALLERIAS */

.galleria {
    position: absolute;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    top: 116px;
    width: 50%;
    height: 75%;
    /*display: none;*/
}

.galleria-container {
    background-color: #fff;
}

body .galleria-lightbox-shadow {
    background-color: #fff;
}
